html {
  overscroll-behavior: none;
}

body {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#start-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  z-index: 1;
}

#start-screen h1 {
  position: absolute;
  box-sizing: border-box;
  left: 5%;
  bottom: 50%;
  width: 90%;
  margin: 0;
  margin: -0.2em 0 0 0;
  padding: 0;
  text-align: right;
  font-size: 5em;
  line-height: 1.2em;
}

#start-screen p {
  position: absolute;
  box-sizing: border-box;
  left: 5%;
  top: 50%;
  width: 90%;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: right;
  font-size: 1.6em;
}

#start-screen p.error {
  color: #f00;
  font-style: italic;
}

#block-container {
  position: absolute;
  box-sizing: border-box;
  right: 0%;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.hit-block {
  position: absolute;
  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  border-color: #000;
  border-radius: 4px;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  background-color: #000;
}

.hit-block.reset {
  opacity: 0;
}

.hit-block.played {
  opacity: 1;
  background-color: #00f;
}

.hit-block.good {
  opacity: 1;
  background-color: #0a0;
}

.hit-block.bad {
  opacity: 1;
  background-color: #f00;
}

#flash {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

#total-points {
  position: absolute;
  box-sizing: border-box;
  left: 10%;
  top: 50%;
  width: 100%;
  margin: -0.5em 0 0 0;
  text-align: left;
  font-size: 8em;
  line-height: 1em;
}

#layer-points {
  position: absolute;
  box-sizing: border-box;
  left: 10%;
  top: 50%;
  width: 100%;
  margin: -2.2em 0 0 0;
  text-align: left;
  font-size: 4em;
  line-height: 1em;
}

#layer-label {
  position: absolute;
  box-sizing: border-box;
  left: 10%;
  top: 50%;
  width: 100%;
  margin: 1.8em 0 0 0;
  text-align: left;
  font-size: 3em;
  line-height: 1em;
}

#layer-points.blinking, #total-points.blinking, #layer-label.blinking {
  animation-name: blink;
  animation-duration: 0.55206640625s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#flash.short-flashing {
  animation-name: flash;
  animation-duration: 0.4s;  
}

#flash.long-flashing {
  animation-name: flash;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;
}

@keyframes flash {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
